<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="['/admin', 'teams', teamId()]"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEditing() ? "Edit Athlete" : "Add Athlete" }}</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (dataLoaded()) {

  <form [formGroup]="athleteForm" (ngSubmit)="onSubmit()">
    <ion-list [inset]="true">
      <ion-item>
        <ion-input
          type="text"
          label="First Name"
          labelPlacement="stacked"
          formControlName="first_name"
          placeholder="Enter first name"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="text"
          label="Last Name"
          labelPlacement="stacked"
          formControlName="last_name"
          placeholder="Enter last name"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-select
          label="Sex"
          labelPlacement="stacked"
          formControlName="sex"
          interface="popover"
        >
          <ion-select-option value="F">F</ion-select-option>
          <ion-select-option value="M">M</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input
          type="email"
          label="Email"
          labelPlacement="stacked"
          formControlName="email"
          placeholder="Enter email"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="tel"
          label="Phone Number"
          labelPlacement="stacked"
          formControlName="phone_number"
          placeholder="Enter phone number"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="text"
          label="Gym"
          labelPlacement="stacked"
          formControlName="gym"
          placeholder="Enter gym"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="text"
          label="City"
          labelPlacement="stacked"
          formControlName="city"
          placeholder="Enter city"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-checkbox formControlName="waiver">Waiver</ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-button
      expand="block"
      class="ion-margin"
      type="submit"
      [disabled]="!athleteFormValid()"
      >{{ isEditing() ? "Update Athlete" : "Add Athlete" }}</ion-button
    >

    @if (isEditing()) {
    <ion-button
      expand="block"
      class="ion-margin"
      color="danger"
      type="button"
      (click)="onDelete()"
      >Delete Athlete</ion-button
    >
    }
    <ion-button
      expand="block"
      fill="outline"
      class="ion-margin"
      type="button"
      [routerLink]="['/admin', 'teams', teamId()]"
      routerDirection="back"
      >Cancel</ion-button
    >
  </form>

  } @else {
  <!-- Loading skeleton for athlete form -->
  <ion-list [inset]="true">
    <!-- First Name -->
    <ion-item>
      <ion-skeleton-text
        [animated]="true"
        style="width: 25%; height: 16px; margin-bottom: 4px"
      ></ion-skeleton-text>
      <br />
      <ion-skeleton-text
        [animated]="true"
        style="width: 100%; height: 20px"
      ></ion-skeleton-text>
    </ion-item>

    <!-- Last Name -->
    <ion-item>
      <ion-skeleton-text
        [animated]="true"
        style="width: 25%; height: 16px; margin-bottom: 4px"
      ></ion-skeleton-text>
      <br />
      <ion-skeleton-text
        [animated]="true"
        style="width: 100%; height: 20px"
      ></ion-skeleton-text>
    </ion-item>

    <!-- Sex -->
    <ion-item>
      <ion-skeleton-text
        [animated]="true"
        style="width: 15%; height: 16px; margin-bottom: 4px"
      ></ion-skeleton-text>
      <br />
      <ion-skeleton-text
        [animated]="true"
        style="width: 60%; height: 20px"
      ></ion-skeleton-text>
    </ion-item>

    <!-- Email -->
    <ion-item>
      <ion-skeleton-text
        [animated]="true"
        style="width: 20%; height: 16px; margin-bottom: 4px"
      ></ion-skeleton-text>
      <br />
      <ion-skeleton-text
        [animated]="true"
        style="width: 100%; height: 20px"
      ></ion-skeleton-text>
    </ion-item>

    <!-- Gym -->
    <ion-item>
      <ion-skeleton-text
        [animated]="true"
        style="width: 15%; height: 16px; margin-bottom: 4px"
      ></ion-skeleton-text>
      <br />
      <ion-skeleton-text
        [animated]="true"
        style="width: 100%; height: 20px"
      ></ion-skeleton-text>
    </ion-item>

    <!-- City -->
    <ion-item>
      <ion-skeleton-text
        [animated]="true"
        style="width: 15%; height: 16px; margin-bottom: 4px"
      ></ion-skeleton-text>
      <br />
      <ion-skeleton-text
        [animated]="true"
        style="width: 100%; height: 20px"
      ></ion-skeleton-text>
    </ion-item>

    <!-- Waiver -->
    <ion-item>
      <ion-skeleton-text
        [animated]="true"
        style="width: 80px; height: 20px"
      ></ion-skeleton-text>
    </ion-item>
  </ion-list>

  <!-- Loading skeleton for buttons -->
  <ion-skeleton-text
    [animated]="true"
    style="width: 100%; height: 48px; margin: 16px; border-radius: 8px"
  ></ion-skeleton-text>
  <ion-skeleton-text
    [animated]="true"
    style="width: 100%; height: 48px; margin: 16px; border-radius: 8px"
  ></ion-skeleton-text>
  <ion-skeleton-text
    [animated]="true"
    style="width: 100%; height: 48px; margin: 16px; border-radius: 8px"
  ></ion-skeleton-text>

  }
</ion-content>
