<ion-header>
  <ion-toolbar>
    <ion-menu-button menu="main-menu" slot="start"></ion-menu-button>
    <ion-title>Forgot Password</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Forgot Password</ion-card-title>
      <ion-card-subtitle>Deccan Throwdown</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-text>Enter email address to get a reset password link</ion-text>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
    <ion-list [inset]="true">
      <ion-item>
        <ion-input
          type="email"
          name="email"
          label="Email"
          labelPlacement="stacked"
          placeholder="froning@crossfit.com"
          formControlName="email"
          [required]="true"
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-button
      expand="block"
      type="submit"
      class="ion-margin"
      [disabled]="!isEmailFormValid()"
      >Send Reset Password Link</ion-button
    >
    <ion-button
      expand="block"
      type="button"
      fill="outline"
      class="ion-margin"
      [routerLink]="['/home']"
      routerDirection="root"
      [replaceUrl]="true"
      >Cancel</ion-button
    >
  </form>
</ion-content>
