<ion-header>
  <ion-toolbar>
    <ion-menu-button menu="main-menu" slot="start"></ion-menu-button>
    <ion-title>Forgot Password</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-content">
  <div class="auth-container">
    <img src="icons/logo_192.jpg" alt="Deccan Throwdown" class="auth-logo" />
    <h1 class="auth-title">Forgot Password</h1>
    <p class="auth-subtitle">Deccan Throwdown</p>
    <p class="auth-description">
      Enter your email address to get a reset password link
    </p>

    <form (submit)="onSubmit(); $event.preventDefault()">
      <ion-list [inset]="true" class="card-elevated">
        <ion-item>
          <ion-input
            type="email"
            name="email"
            label="Email"
            labelPlacement="stacked"
            placeholder="froning@crossfit.com"
            [formField]="emailForm.email"
          ></ion-input>
        </ion-item>
      </ion-list>

      <ion-button
        expand="block"
        type="submit"
        [disabled]="!isEmailFormValid()"
        >Send Reset Password Link</ion-button
      >
      <ion-button
        expand="block"
        type="button"
        fill="outline"
        [routerLink]="['/home']"
        routerDirection="root"
        [replaceUrl]="true"
        >Cancel</ion-button
      >
    </form>
  </div>
</ion-content>
