ENVIRONMENT = "dev"

DB_URL = "sqlite+aiosqlite:///database.db"

BACKEND_URL = "http://localhost:8000"
FRONTEND_URL = "http://localhost:8100"

# First Admin User
ADMIN_USER_EMAIL = "user@example.com"

# Resend 
RESEND_API_KEY = "secret"
RESEND_FROM_EMAIL = "noreply@example.com"

# User Auth
RESET_PASSWORD_TOKEN_KEY = "secret"
VERIFICATION_TOKEN_KEY = "secret"