<ion-header>
  <ion-toolbar>
    <ion-menu-button menu="main-menu" slot="start"></ion-menu-button>
    <ion-title>Sign Up</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-content">
  <div class="auth-container">
    <img src="icons/logo_192.jpg" alt="Deccan Throwdown" class="auth-logo" />
    <h1 class="auth-title">Admin Signup</h1>
    <p class="auth-subtitle">Deccan Throwdown</p>
    <p class="auth-description">
      Talk to your event organizer before signing up as admin
    </p>

    <form (submit)="onSubmitSignupForm(); $event.preventDefault()">
      <ion-list [inset]="true" class="card-elevated">
        <ion-item>
          <ion-input
            type="text"
            label="Name"
            labelPlacement="stacked"
            placeholder="Shubham Hiller"
            [formField]="signupForm.display_name"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="email"
            label="Email"
            labelPlacement="stacked"
            placeholder="froning@crossfit.com"
            [formField]="signupForm.email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="password"
            label="Password"
            labelPlacement="stacked"
            placeholder="burpees4LYFE"
            minlength="6"
            errorText="Min 6 chars"
            [formField]="signupForm.password"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
      </ion-list>

      <ion-button
        expand="block"
        type="submit"
        [disabled]="!isSignupFormValid()"
        >Sign Up</ion-button
      >

      <ion-button
        expand="block"
        fill="outline"
        type="button"
        [routerLink]="['/home']"
        routerDirection="root"
        [replaceUrl]="true"
        >Cancel</ion-button
      >
    </form>
  </div>
</ion-content>
