
ion-checkbox::part(container) {
  border-radius: 6px;
}

.wod-score-type {
    color: var(--ion-color-dark, #000000)
}

.wod-summary {
  color: var(--ion-color-primary, #3880ff);
  padding: 8px 0;
  margin-bottom: 4px;
}