<ion-header>
  <ion-toolbar>
    <ion-title>Registration Success</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="onClickClose()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
        Registration Successful!
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Thank you for registering your team for the competition!</p>
      <br />
      <p>
        Here is the payment link:
        <a [href]="responseData?.payment_link" target="_blank">Pay Now</a>
      </p>
      @if (responseData?.waiver_links) {
      <br />
      <p>Please fill out the waiver forms (Non CFMF athletes)</p>
      <ul>
        @for (waiverLink of responseData?.waiver_links; track $index) {
        <li>
          {{ waiverLink?.athlete_name }}
          <a [href]="waiverLink?.waiver_link" target="_blank">Waiver Link</a>
        </li>
        }
      </ul>
      }
      <p>You will soon get an email with the same information as well.</p>
      <br />
      <p>
        Once payment is processed, we will confirm your participation in the
        Teams event
      </p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" class="ion-margin" (click)="onClickClose()">
    OK
  </ion-button>
</ion-content>
