<ion-header>
  <ion-toolbar>
    <ion-menu-button menu="main-menu" slot="start"></ion-menu-button>
    <ion-title>Login</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-content">
  <div class="auth-container">
    <img src="icons/logo_192.jpg" alt="Deccan Throwdown" class="auth-logo" />
    <h1 class="auth-title">Login</h1>
    <p class="auth-subtitle">{{ eventName }}</p>
    <p class="auth-description">Login as an admin user</p>

    <form (submit)="onClickLogin(); $event.preventDefault()">
      <ion-list [inset]="true" class="card-elevated">
        <ion-item>
          <ion-input
            type="email"
            label="Email"
            labelPlacement="stacked"
            placeholder="froning@crossfit.com"
            [formField]="loginForm.email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="password"
            label="Password"
            labelPlacement="stacked"
            placeholder="burpees4LYFE"
            minlength="6"
            [formField]="loginForm.password"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
      </ion-list>

      <ion-button
        fill="clear"
        class="auth-link-button"
        type="button"
        routerLink="/auth/forgot-password"
        routerDirection="forward"
      >
        Forgot Password?
      </ion-button>

      <ion-button
        expand="block"
        type="submit"
        [disabled]="!isLoginFormValid()"
        >Login</ion-button
      >
      <ion-button
        expand="block"
        type="button"
        fill="outline"
        [routerLink]="['/home']"
        routerDirection="root"
        [replaceUrl]="true"
        >Cancel</ion-button
      >
    </form>
  </div>
</ion-content>
