<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
      <ion-card-subtitle>{{ eventName }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-text>Login as an admin user</ion-text>
    </ion-card-content>
  </ion-card>
  <form [formGroup]="loginForm" (ngSubmit)="onClickLogin()">
    <ion-list [inset]="true">
      <ion-item>
        <ion-input
          type="email"
          label="Email"
          labelPlacement="stacked"
          placeholder="froning@crossfit.com"
          formControlName="email"
          [required]="true"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="password"
          label="Password"
          labelPlacement="stacked"
          placeholder="burpees4LYFE"
          formControlName="password"
          minlength="6"
          [required]="true"
        >
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button
      fill="clear"
      class="ion-margin-horizontal"
      type="button"
      routerLink="/auth/forgot-password"
    >
      <a>Forgot Password?</a>
    </ion-button>

    <ion-button
      expand="block"
      type="submit"
      class="ion-margin"
      [disabled]="!isLoginFormValid()"
      >Login</ion-button
    >
    <ion-button
      expand="block"
      type="button"
      fill="outline"
      class="ion-margin"
      (click)="onClickCancel()"
      >Cancel</ion-button
    >
  </form>
</ion-content>
