<ion-menu contentId="main-content" menuId="main-menu" [swipeGesture]="false">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="menu-full">
      <div class="menu-items">
        <div class="menu-section-title">Teams</div>
        <ion-list [inset]="true">
          <ion-menu-toggle>
            <ion-item
              [routerLink]="['home']"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-icon name="home-outline" slot="start"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              [routerLink]="['teams']"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-icon name="people-outline" slot="start"></ion-icon>
              <ion-label>Teams & Athletes</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              [routerLink]="['leaderboard']"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              [disabled]="true"
            >
              <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
              <ion-label>Leaderboard</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              [routerLink]="['wods']"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-icon name="barbell-outline" slot="start"></ion-icon>
              <ion-label>WODs</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list [inset]="true">
          <ion-menu-toggle>
            <ion-item
              [routerLink]="['pics']"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-icon name="camera-outline" slot="start"></ion-icon>
              <ion-label>Image Gallery</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        @if (adminUser()) {
        <div class="menu-section-title admin-title">Teams Admin</div>
        <ion-list [inset]="true">
          <ion-menu-toggle>
            <ion-item
              [routerLink]="['admin', 'teams']"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-icon name="people-outline" slot="start"></ion-icon>
              <ion-label>Teams & Athletes</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              [routerLink]="['admin', 'scores']"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-icon name="calculator-outline" slot="start"></ion-icon>
              <ion-label>Score Entry</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              [routerLink]="['admin', 'scores', 'verify']"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
              <ion-label>Score Verification</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item
              [routerLink]="['admin', 'users']"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-icon name="finger-print-outline" slot="start"></ion-icon>
              <ion-label>User Management</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        }

        <div class="menu-section-title">Pairs</div>
        <ion-list [inset]="true">
          <ion-menu-toggle>
            <ion-item
              [routerLink]="['teams', 'dtpairs2025']"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-icon name="people-outline" slot="start"></ion-icon>
              <ion-label>Teams & Athletes</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              [routerLink]="['leaderboard', 'dtpairs2025']"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
              <ion-label>Leaderboard</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              [routerLink]="['wods', 'dtpairs2025']"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-icon name="barbell-outline" slot="start"></ion-icon>
              <ion-label>WODs</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </div>
      <div class="menu-signin">
        @if (! adminUser() ) {
        <ion-menu-toggle>
          <ion-button
            expand="block"
            color="medium"
            fill="outline"
            class="ion-margin"
            [routerLink]="['auth', 'login']"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Admin Sign In</ion-button
          >
        </ion-menu-toggle>
        }
        <div
          class="menu-copyright ion-text-center ion-text-small ion-text-color-medium"
        >
          © 2025 Shubham AI 3.0
        </div>
      </div>
    </div>
  </ion-content>
</ion-menu>
