<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" menu="main-menu"></ion-menu-button>
    <ion-title>Home</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (appInstallService.showInstallButton()) {
  <div class="install-button-container">
    <ion-button
      expand="full"
      color="medium"
      (click)="appInstallService.showInstallModal()"
      class="install-button"
    >
      <span class="install-button-text">Install this app on your device</span>
    </ion-button>
    <ion-button color="medium" (click)="appInstallService.dontShowAgain()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </div>
  }
  <ion-card>
    <img src="assets/logo/dt_logo_1024.jpg" alt="Deccan Throwdown Logo" />
    <ion-card-header>
      <ion-card-title>Welcome!</ion-card-title>
      <ion-card-subtitle>{{ eventName }}</ion-card-subtitle>
    </ion-card-header>
    @if ( eventShortName === 'dtpairs2025') {
    <ion-card-content>
      <ion-text>{{ 'Looking for Deccan Throwdown Teams?' }}</ion-text>
    </ion-card-content>
    <ion-button fill="clear" href="http://dtteams2025.cfgames.site"
      >Click here</ion-button
    >
    } @else {
    <ion-card-content>
      <ion-text>{{ 'Looking for Deccan Throwdown Pairs?' }}</ion-text>
    </ion-card-content>
    <ion-button fill="clear" href="http://dtpairs2025.cfgames.site"
      >Click here</ion-button
    >

    }
  </ion-card>
</ion-content>
