<ion-header>
  <ion-toolbar>
    <ion-menu-button menu="main-menu" slot="start"></ion-menu-button>
    <ion-title>Reset Password</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Reset Password</ion-card-title>
      <ion-card-subtitle>Deccan Throwdown</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-text>Enter new password</ion-text>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <ion-list [inset]="true">
      <ion-item>
        <ion-input
          type="password"
          name="password"
          label="Password"
          labelPlacement="stacked"
          placeholder="burpees4LYFE"
          formControlName="password"
          [required]="true"
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-button
      expand="block"
      type="submit"
      class="ion-margin"
      [disabled]="!isPasswordFormValid()"
      >Reset Password</ion-button
    >
    <ion-button
      expand="block"
      type="button"
      fill="outline"
      class="ion-margin"
      [routerLink]="['/home']"
      routerDirection="root"
      [replaceUrl]="true"
      >Cancel</ion-button
    >
  </form>
</ion-content>
